body{
  color:#40514E;
  margin:0px;
  text-align:center;
  font-family: 'Merriweather',serif;
  font-size: 120%;
}
h1{
  font-size:5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento',serif;

}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
}
h3{
  color:#11999E;
}
h4{
  color:#ed6663;
}

.dotted{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
    width: 10%;
}

  .top-container{
  background-color: #cbeaed;
  padding-top: 70px;

}
.middle-container{

}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 30px;
  padding-top: 30px;

}
.footer-link{
  color: #11999E;
}
.top-cloud{
  position: relative;
  left:400px;
}
.bottom-cloud{
  position: absolute;
  left:200px;
  bottom:300px:

}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;

}
.webdev{
  height:180px;
  width: 200px;
  float:left;
  margin-right: 30px;
}
.para{
  text-align: left;
  line-height: 30px;
}
.batsman{
  height:180px;
  width: 200px;
  float:right;
  margin-left: 30px;
}
.btn {
   background: #01D6EB;
   background-image: -webkit-linear-gradient(top, #01D6EB, #1E62D0);
   background-image: -moz-linear-gradient(top, #01D6EB, #1E62D0);
   background-image: -ms-linear-gradient(top, #01D6EB, #1E62D0);
   background-image: -o-linear-gradient(top, #01D6EB, #1E62D0);
   background-image: linear-gradient(to bottom, #01D6EB, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 100;
   padding: 18px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.copy{
 color: black;
 padding: 20px 0; 
 font-size: 0.75rem;
}
a{
  color: #11999E;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
